#root {
	max-width: 1440px;
	margin: auto;
	padding: 0;
	text-align: center;
	background-image: url("..//public/image/v02-waves-10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.App-header {
	background-color: #0b1c26;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background: rgb(45, 30, 245);
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

/* App.css */
.customDropdownMenu {
	background-color: #303233 !important; /* You can use any color here */
}
.filter-container {
	position: relative;
	background: rgb(44, 43, 43);
}

.dropdown-list {
	position: absolute;
	background: rgb(44, 43, 43);
	border: 1px solid #ccc;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1;
}

.dropdown-list li {
	padding: 8px;
	cursor: pointer;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
